#h1{
    text-align: center;
    border: 1px solid white;
    

}
select{
    display: block;
    margin-left: auto;
    /* margin: 2px; */
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 3px;
    /* font-size: large; */

}
.container{
    display: flex;
    margin: auto;
    width: 100vh;
}
.main-btn{
    width:50%;
    padding: 10px;
    display: block;
    margin: 10px;
    background-color:greenyellow;
    border: none;
}
#counter-section{
    display: none;
}
#value1{
    text-align:center;
    border: 1px solid black;
    background-color: #f3f3f3;
    padding: 100px;
}
#counter{
    /* height: 100vh; */
    width: 30vh;
    margin: auto;
    
}
button{
    display: block;
}
.inc-dec{
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.btn{
    margin: 1px;
    padding: 25px;
    font-size: large;
}
.btn-green{
    background-color: green;

}
.btn-yellow{
    background-color: yellow;
}
.btn-red{
    background-color: red;
}
.language-div{
    display: flex;
    /* justify-content: center; */
    background-color: wheat;
    margin: 10px 0PX;
    /* width: 100vh; */
}
span{
    margin: 10px;
    text-align: center;
    padding: 20PX;
    width: 100%;
    font-size: 18px;
    
}
#voter-section{
    width: 70vh;
    margin: auto;
    display: none;
}
.span-btn{
    background-color: wheat;
    border: none;
    color: green;
    font-size: large;
}